# Python cache
__pycache__/
*.pyc
*.pyo

# Packaging
*.egg-info/
build/
dist/

# Logs
*.log

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and tool caches
.pytest_cache/
.mypy_cache/

# Generated plots
examples/output_plots/
